# dev
lightning
# torch
# torchvision
wandb
hydra-core
jupyter
pandas
open3d
pytorch-metric-learning
fvcore
iopath
# pytorch3d
rich
opencv-python
scikit-image
h5py

# test
black
flake8
mypy
isort
pytest
pre-commit
