# dev
lightning
torchmetrics[image]
torch
torchvision
open3d
point-cloud-utils
opencv-python
scikit-image
transformers
wandb
hydra-core
jupyter
pandas
rich

# demo
streamlit
streamlit-drawable-canvas

# test
black
flake8
mypy
isort
pytest
